@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Sonsie+One&family=Sriracha&display=swap');

/* .col-sm {
    border: 1px solid black;
} */
#title,
#nav-menu {
    font-family: "Sriracha", cursive;
}

#name {
    font-family: "Sonsie One", cursive;
}

#describe {
    font-family: "Catamaran", sans-serif;
}

.navbar {
    margin-left: 5px;
    margin-right: 5px;
}

img {
    margin-left: 10px;
}